html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100;
}

.card-list {
  width: 100%;
  min-height: 600px;
}


.solo-card {
  width: 25%;
  height: auto;
  min-height: 200px;
  display: inline-block;
  border: 1px dashed rgb(14, 156, 142);
  background-color: mediumaquamarine;
  padding-top: 20px;
}

.solo-card:hover {
  transform: scale(1.05);
}

.acme {
  font-family: 'Acme', sans-serif;
  font-size: 40px;
}